<h2>戦利品一覧</h2>
<div>
  <%= link_to '> 新規追加', new_content_path %>
</div>
<div class="row">
  <div class="col-md-12">
    <table class="table table-striped">
      <tbody>
        <% @contents.each do |content| %>
        <tr>
          <td><%= content.title %></td>
          <td><%= link_to image_tag(content.image.to_s, width: '200'), content_path(content) %></td>
          <td>
            <% if content.contents_tags.any? %>
              <% content.contents_tags.each do |contents_tag| %>
                <%= '#' + contents_tag.tag.name %> 
              <% end %>
            <% else %>
              No tag yet.
            <% end %>
          </td>
          <td>
            [<%= link_to '編集', edit_content_path(content) %>]
            [<%= link_to '削除', content_path(content), method: :delete, data:{ confirm: 'Are you sure?' } %>]
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
