<div class="row">
  <div class="col-md-12">
    <h2><%= @content.title %></h2>
    <div>
      <%= image_tag(@content.image.to_s, width: '400') %>
    </div>
    <div>
      <%= @content.detail %>
    </div>
    <hr>
    
    <div>
      <h3>Tag</h3>
      <table class="table table-striped">
        <% if @content.tags.any? %>
          <thead class="thead-light">
            <tr>
              <td>Name</td>
              <td>Menu</td>
            </tr>
          </thead>
          <tbody>
            <% @content.tags.each do |tag| %>
            <tr>
              <td><%= tag.name %></td>
              <td>
                [<%= link_to 'Edit', edit_content_tag_path(@content, tag) %>]
                [Delete]
              </td>
            </tr>
            <% end %>
          </tbody>
        <% else %>
          <p>No tag yet.</p>
        <% end %>
        
        
      </table>
    </div>
    
    <h3>Attach new tag.</h3>
    
    <%= form_with model: [@content, @tag], local: true do |f| %>
      <%= f.hidden_field :content_id, { value: @content.id } %>
      <div class="form-group">
        <label>Name</label>
        <%= f.text_field :name, class: 'form-control' %>
      </div>
      <div class="text-center">
        <%= f.submit "Attach", class: 'btn btn-primary' %>
      </div>
    <% end %>
    
    <div>
      <%= link_to '> Home', root_path %>
    </div>
  </div>
</div>
