<div class="row">
  <div class="col-md-12">
    <h2><%= @content.title %></h2>
    <div>
      <%= image_tag(@content.image.to_s, width: '400') %>
    </div>
    <div>
      <%= @content.detail %>
    </div>
    <hr>
    
    <div>
      <h3>Tag</h3>
        <% if @content.contents_tags.any? %>
          <% @content.contents_tags.each do |contents_tag| %>
            <%= link_to '#' + contents_tag.tag.name, edit_content_tag_path(@content, contents_tag.tag) %> 
          <% end %>
        <% else %>
          No tag yet.
        <% end %>
    </div>
    <hr>
    
    <h3>Attach new tag.</h3>
    
    <%= form_with model: [@content, @tag], local: true do |f| %>
      <%= f.hidden_field :content_id, { value: @content.id } %>
      <div class="form-group">
        <%= f.text_field :name, class: 'form-control' %>
      </div>
      <div class="text-center">
        <%= f.submit "Attach", class: 'btn btn-primary' %>
      </div>
    <% end %>
    
    <div>
      <%= link_to '> Home', root_path %>
    </div>
  </div>
</div>
